<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070554179849-2vcquravt8mmrvk5kg7uvvoeeb4gk3kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070554179849-2vcquravt8mmrvk5kg7uvvoeeb4gk3kb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070554179849-3dnu822km88tg2rvkoqdolni6ih2hh7r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlNv_k5ixO-sgeSBxilocrC-wSaCNDBE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1070554179849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rifat.securenotes</string>
	<key>PROJECT_ID</key>
	<string>imam-development-programme</string>
	<key>STORAGE_BUCKET</key>
	<string>imam-development-programme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070554179849:ios:d8546346d1bacbd86f4bd8</string>

</dict>
</plist>